<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Busca Sem Informação</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <style>
        .links line {
            stroke: #999;
            stroke-opacity: 0.6;
        }
        .nodes circle {
            stroke: #fff;
            stroke-width: 1.5px;
        }
    </style>
</head>
<body>
    <h1>Busca Sem Informação</h1>
    <form method="post" action="{% url 'form_search_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
</body>
</html>